@tailwind base;

/* FIX: Import OnchainKit styles disini agar mendeteksi layer base Tailwind */
@import '@coinbase/onchainkit/styles.css';

@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* Modern Mesh Gradient Background */
    background-color: #f8fafc;
    background-image: 
      radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
      radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%), 
      radial-gradient(at 100% 0%, hsla(339,49%,30%,1) 0, transparent 50%);
    background-image: 
      radial-gradient(at 40% 20%, rgba(99, 102, 241, 0.1) 0px, transparent 50%),
      radial-gradient(at 80% 0%, rgba(168, 85, 247, 0.05) 0px, transparent 50%),
      radial-gradient(at 0% 50%, rgba(236, 72, 153, 0.05) 0px, transparent 50%);
    background-attachment: fixed;
    color: #0f172a;
    -webkit-tap-highlight-color: transparent;
  }
}

/* Custom Scrollbar yang lebih tipis dan elegan */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}